@import '../../../assets/scss/variables.scss';

.cmp-view-page-card {
  width: 100% !important;
  margin: 0 !important;
  margin-top: 15px !important;
  padding-bottom: 20px;

  .title {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 900;
    padding-bottom: 5px;
  }

  .desc {
    font-size: 1.1em;
    .user-tag {
      padding-bottom: 5px;
    }
  }
}
