.page-404 {
  h1 {
    font-weight: 600;
    font-size: 128px;
    margin: 0;
  }
  h3 {
    font-weight: 600;
    font-size: 30px;
  }
}

.page-500 {
  h1 {
    font-weight: 600;
    font-size: 128px;
    margin: 0;
  }
  h3 {
    font-weight: 600;
    font-size: 30px;
  }
}
