@import '../../../../../assets/scss/variables.scss';

.page-search-index {
  .cmp-map-container {
    border-radius: 8px;
    height: 200px;
    margin-bottom: 20px;
  }

  .filter-options {
    border-radius: 8px;
    padding: 20px;
    background-color: $pri-clr;
    border-color: transparent;
    box-shadow: 0 1px 6px 2px $shadow-light-clr;

    .ant-typography {
      margin-bottom: 0px !important;
    }

    .ant-divider-horizontal {
      margin: 15px 0px !important;
    }

    .rating-options {
      display: flex;
      justify-content: space-between;
    }
  }

  .ant-pagination-total-text {
    display: block !important;
    line-height: 1.5 !important;
  }

  .ant-pagination-prev,
  .ant-pagination-next {
    display: none !important;
  }

  .ant-pagination-item {
    background-color: $pri-clr;
    border-color: transparent;
    box-shadow: 0 1px 6px 2px $shadow-light-clr;
    a,
    a:hover,
    a:active,
    a:focus {
      color: $base-clr !important;
    }
  }

  .ant-pagination-item-active {
    background-color: $brand-clr;
    border-color: transparent;
    box-shadow: 0 1px 6px 2px $shadow-light-clr;
    a,
    a:hover,
    a:active,
    a:focus {
      color: $pri-clr !important;
    }
  }

  .search-list {
    .mobile-view {
      display: none;

      .ant-radio-group {
        display: block;
        font-size: 12px;
        font-weight: normal;
        background-color: $footer-bg-clr !important;
        border-radius: 6px !important;

        .ant-radio-button-wrapper {
          display: block !important;
          background-color: transparent !important;
          border: none !important;

          &:not(:first-child)::before {
            background-color: transparent !important;
          }

          &:hover {
            color: $brand-clr !important;
          }
        }

        &.ant-radio-group-solid
          .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
          color: $pri-clr !important;
          background: $brand-clr !important;
          border-color: $brand-clr !important;
          border-radius: 6px !important;
        }

        .search-list-filter-item {
          // width: 100%;
          text-align: center;
        }
      }
      .ant-form {
        margin-top: 10px !important;
        width: 50% !important;
        display: inline-block !important;
        .cmp-select-box {
          display: inline-block !important;
          width: 100% !important;
          .ant-select-selection {
            border-color: transparent !important;
            box-shadow: none !important;
            background-color: transparent !important;

            .ant-select-selection__placeholder {
              text-align: center !important;
            }
          }
        }
      }

      @media #{$sm-screen} {
        display: block;
      }
    }

    .list-view {
      display: block;

      .ant-radio-group {
        display: block;
        font-size: 12px;
        font-weight: normal;
        background-color: $footer-bg-clr !important;
        border-radius: 6px !important;

        .ant-radio-button-wrapper {
          display: inline-block !important;
          background-color: transparent !important;
          border: none !important;

          &:not(:first-child)::before {
            background-color: transparent !important;
          }

          &:hover {
            color: $brand-clr !important;
          }
        }

        &.ant-radio-group-solid
          .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
          color: $pri-clr !important;
          background: $brand-clr !important;
          border-color: $brand-clr !important;
          border-radius: 6px !important;
        }

        .search-list-filter-item {
          width: 20%;
          text-align: center;
        }

        .ant-form {
          display: inline-block !important;
          .cmp-select-box {
            display: inline-block !important;
            width: 100%;
            .ant-select-selection {
              border-color: transparent !important;
              box-shadow: none !important;
              background-color: transparent !important;

              .ant-select-selection__placeholder {
                text-align: center !important;
              }
            }
          }
        }
      }

      @media #{$sm-screen} {
        display: none;
      }
    }
  }

  .filter-tags {
    margin: 10px 0px;
    .ant-tag {
      background-color: transparent !important;
      padding: 8px 12px;
      margin-top: 5px;
      border-radius: 8px;
    }
  }

  .not-found {
    text-align: center;
  }
}
