@import "../../../assets/scss/variables.scss";

.favourites {
  width: 90%;
  margin: 0 auto;
  .about-card {
    padding: 18px 24px;
    margin-top: 16px;
    border-radius: 10px;
    box-shadow: 0 2px 12px -3px $shadow-light-clr;
  }
}
