@import "../../../assets/scss/variables.scss";

.messageBody {
  margin-left: 5px !important;
  overflow-y: scroll;
  flex-grow: 1;
  height: 70vh;
  margin: 0 !important;
  &.messageBody::-webkit-scrollbar {
    width: 6px !important;
    background-color: #b3b0b0 !important;
  }

  &.messageBody::-webkit-scrollbar-track {
    background-color: white;
  }

  &.messageBody::-webkit-scrollbar-thumb {
    background-color: lightgrey;
  }
  .recieved {
    margin: 0px;
    background-color: #f1f1f1;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .timestamp {
    margin: 0px;
    margin: 5px 5px 0px 5px;
    font-size: 9px;
    color: #aaaaaa;
  }
  .sentContain {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .sent {
    margin: 0px;
    background-color: $brand-clr;
    color: white;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.moreContain {
  display: flex;
  justify-content: space-between;
  .more {
    font-size: 11px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 0px 8px;
  }
  .rightArrow {
    height: 12px;
  }
}

.thumbnailContain {
  display: flex;
  justify-content: center;
  .thumbnail {
    height: 40px;
    width: 50px;
    border-radius: 10px;
  }
}

.description {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: bold;
}

.price {
  margin: 0px;
  color: $brand-clr;
  font-size: 12px;
  font-weight: bold;
}

.userContain {
  border-radius: 50px;
  &.userContain:hover {
    background-color: $brand-clr;
  }
  .username {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
  }
  .profilePic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}
