@import "../../../assets/scss/variables.scss";

.notifications-screen {
  width: 90%;
  margin: 0 auto;
  .notification {
    display: flex;
    border-radius: 10px;
    padding: 15px;
    transition: 0.3s ease-in;
    align-items: center;
    cursor: pointer;
    justify-content: left;
    margin-bottom: 16px;
    .img {
      margin-right: 20px;
      img {
        width: 32px;
      }
    }
    .body {
      .text {
        font-weight: 600;
      }
      .time {
        opacity: 0.6;
      }
    }
    &:hover {
      background-color: #f1f1f1;
    }
  }
}
